* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}
body{
    overflow-x:hidden;
}

.navbar {
background: #131313;
height: 80px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
position: sticky;
top: 0;
z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}
/*
#navbar__logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem; 
    


}
.fa-logo{
    margin-right: .5rem;
} */

.logo{
    display: flex;
    align-items: left;
    cursor: pointer;
    height: 170%;
    width: auto;
    padding: 0;
}
.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    

}

.navbar__item{
    height: 80px;
}

.navbar__links{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;

 
}

.navbar__btn {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0 1rem;
 width: 100%;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;

}
.button:hover {
    background: #4837ff;
    transition: all .3s ease;

}

.navbar__links:hover {
color: #f77062;
transition: all .3s ease;

}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;

  }  

  .navbar__menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0; 
    transition: all .5s ease;
    height: 50vh;
    z-index: -1;
    background: #131313;

  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all .5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;

  }

  #navbar__logo{
    padding-left: 25px;

  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all .3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__btn {
    padding-bottom: 2rem;

  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;

  }

  #mobie-menu.is-active .bar:nth-child(2) {
    opacity: 0;
 }
   #mobie-menu.is-active .bar:nth-child(1) {
    transform: translate(8px) rotate(45deg);
 }
    #mobie-menu.is-active .bar:nth-child(3) {
    transform: translate(-8px) rotate(-45deg);
 }
}

/*hero section CSS*/
.main {
    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;

}

.main__content h1 {
    font-size: 4rem;
    background-color: #ff8177 ;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}
.main__content h2 {
    font-size: 2rem;
    background-color: #ff8177 ;
    background-image: linear-gradient(to top, #b721ff 0%, #21D4FD 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}
.main__content h3 {
    font-size: 2rem;
    background-color: #ff8177 ;
    background-image: linear-gradient(to top, #b721ff 0%, #21D4FD 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}
.main__content p {
   margin-top: 1rem;
   font-size: 2rem;
   font-weight: 700;
   color: #fff;


}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #F77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all .35s;
    outline: none;

}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;

}

.main__btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all .35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;

}
.main__btn:hover::after {
    width: 100%;

}

.about__img--container {
    grid-area: image;
    text-align: right;
    display: flex;
    justify-content: center;

}

#about__img {
    height: auto;
    width: 100%;
    max-width: 450px;
    border-radius: 4px;
    
} 
.main__vid--container {
    text-align: center;
}

#main__vid {
    height: 100%;
    width: 100%;
}
.about {
    width: 100%;
    background-color: #141414;
}

.about__container {
    display: grid;
    grid-template-areas: "text image";
    grid-template-columns: 1.2fr .8fr;
    align-items: center;
  /*justify-self: center;*/
    margin: 0 auto;
    min-height: 90vh;

    background-color: #141414;
/*-index: 1;*/
    width:100%;
    max-width: 1920px;
    padding: 50px 100px;
    gap: 60px;

}
.about__content{
    grid-area: text;
   
   
}
.about__content p { 
grid-area: text;
   margin-top: 1rem;
   font-size: 1.5rem;
   font-weight: 500;
   color: #fff;
   text-align: left;


}

/* Mobile Responsive*/

@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;

    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 1rem;
    }

    .main__content p {
        font-size: 1rem;
       margin-top: 1rem; 
    }
     .about__container {
        grid-template-columns: 1fr;
        grid-template-areas: "text""image";
      padding: 40px 24px;
     

    }
     .about__content {
  
        text-align: center;

    }
     .about__content p {
        font-size: 1rem;
        line-height: 1.7;
        text-align: center;
     
    }
    .about__img--container{
      justify-content: center;
      margin-top: 20px;
    }
    #about__img {
      width: 80%;
      max-width: 380px;
  
    }
    .main__vid--container{
        padding-bottom: 100px;
    }
        .main__vid {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    } 
}


@media screen and (max-width:480px) {
   

     .main__content {
        text-align: center;
        margin-bottom: 3rem;
     }

    

    .main__content h1 {
        font-size: 2rem;
        margin-top: rem;
    }

    .main__content h2 {
        font-size: .75rem;
    }

    .main__content p {
        font-size: .75rem;
       margin-top: 1rem; 
    }
    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
       .main__vid--container{
        padding-bottom: 100px;
    }
        .main__vid {
        display: flex;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 50%;
        margin: 0 auto;
        height: 60vh;
    } 


}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #ff80a6;
}

/* Add a background color and some padding around the form */
.container {
  
  background-color: #141414;
  padding: 20px;
  height: 90vh;
}
